@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: max-content;
  animation: scroll 30s linear infinite;
}
.featureCard {
  background: linear-gradient(145deg, #0b1220, #0e1627);
  border: 1px solid rgba(255,255,255,0.08);
  border-radius: 24px;
  padding: 48px;
  transition: 0.3s ease;
}

.featureCard:hover {
  background: linear-gradient(145deg, #101a2f, #0c1525);
}

